<link rel="stylesheet" href="/assets/css/ml.css">
<section>
    <h2 class='section-head'>Status</h2>
    <div id="status"></div>
</section>
<h2 class="section-head">Model Output</h2>

<div id="file-container">
<span id="files-label"> Upload an image:</span>
<input type="file" id="files" name="files[]" multiple="" aria-labelledby="files-label">
</div>


<div id="predictions">
</div>
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@2.0.0/dist/tf.js"></script>
<script src="/assets/js/dog_cat/index.js" ></script>