<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@1.0.0/dist/tf.min.js"></script>
<link rel="stylesheet" href="/assets/css/ml.css">
<p class="section-head">Model Output</p>

<div id="file-container">
<span id="files-label"> Upload an image:</span>
<input type="file" id="files" name="files[]" multiple="" aria-labelledby="files-label">
</div>


<div id="predictions">
    <img alt="Cat to Anaylise" id="cat" src="http://placekitten.com/g/200/300" width="160" height="160">
    <ul>
        <li>0.0</li>
    </ul>
</div>

