div .post-body {
    max-width: 100rem;
}

div #file-container {
    padding-bottom: 1rem;
}

div #portfolio-extra-include {
    display: flex;
    flex-direction: column;
    #predictions {
        display: flex;
        flex-direction: column;
        img {
            max-width: unset;
        }
    }
    .pred-container {
        display: flex;
    }
}
