---
layout: default
---

<header>
  <h1 class="post-title">{{ page.title }}</h1>
</header>
<div class="content">
  {% include post-meta.html post=page %}

  <div class="post-body">
    {% if page.technology %}
      <span>Technology used: </span>
      <ul class="technology-list">

      {% assign tech_array = page.technology | split: " " %}
      {% for tech in tech_array %}
        <li>
          <span>{{ tech }}</span>
        </li>
      {% endfor %}

      </ul>
    {% endif %}
    {% if page.extra_include %}
      <div id="portfolio-extra-include">
      {% include {{ page.extra_include }} %}
      </div>
    {% endif %}

    {{ content }}
    {% include post-tags.html post=page %}
  </div>

  {% include comments.html %}
  {% include related_posts.html %}
</div>
